
<footer>    
  <% if (title === 'Home Page') { %>
  <div class="email-div">
      <input data-type="email" placeholder="Email"><a class="email">To receive updates!</a>

  </div>
  <h3 style="cursor: grab;">



  <a class="instagram-icon" ><i title="icons" class="fa-brands fa-instagram" ></i></a>
  <a class="twitter-icon" ><i class="fa-brands fa-twitter"></i></a>
  <a class="youtube-icon" ><i class="fa-brands fa-youtube"></i></a>
</h3>
<% } %>
</footer>
</body>
</html>
