<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script 
		src="https://kit.fontawesome.com/4da7a940f0.js"
		crossorigin="anonymous"
	></script>
  <link
  id="favicon"
  rel="icon"

  href="/images/736540.png"
  type="image/png"
  sizes="32x32"></link>
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;1,200&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/cbb16bb248.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title><%= title %></title>
