  <% if (!user) { %>
    <script defer src="https://accounts.google.com/gsi/client"></script>
  <% } %>
</head>
<body>
  <nav>
    <% if (user) { %>
      <% if (title === "Home Page" || title === "All Games" || title === "Game Details" || title === "Edit Game") {%>
      <a id="collect-btn"
        href="/games/new"
        class=<%= title === 'Create game' ? 'active' : '' %>>
        <div id="collect-text">
          🎮 Add game 
        </div>
      </a>
      <% } %>
      <% if (title === "Home Page" || title === "Create Game" || title === "Game Details" || title === "Edit Game") {%>
      <a id="add-btn"
      href="/games"
      class=<%= title === 'All games' ? 'active' : '' %>>
      <div id="add-text">
        🎮 My collection
      </div>
    </a>
    <% } %>
  
    
    <a href="/auth/logout">
      <button style="cursor: pointer;" class="log-btn" type="submit">Logout <i class="fas fa-user fa-xs"></i></button>
    </a>
    <% } else { %>
      <div 
        id="g_id_onload"
        data-client_id="<%= googleClientID %>"
        data-login_uri="/auth/google"
        data-auto_prompt="false"
        data-prompt_parent_id="g_id_onload"
      ></div>
      <div 
        class="g_id_signin right"
        data-type="standard"
        data-size="large"
        data-theme="outline"
        data-text="sign_in_with"
        data-shape="rectangular"
        data-logo_alignment="left"
      ></div>
    <% } %>
  </nav>