body {
  background-color: #F6F1E9;
}

.log-btn {
  background-color: #d9dbdb;
  color: black;
  border: 2px solid black; /* Green */
  border-radius: 1em;
  size: 50em;
}
.log-btn:hover {
background-color: white;
}

.submit-btn {
height: 2em;
border-radius: 30px;
}

.submit-btn:hover {
  background-color: white;
}


nav {
  background-color: #FFD93D;
  /* border-radius: 30px; */
  font-family: "Raleway";
  font-size: 20px;
  display: flex;
  flex-direction: row;
  column-gap: 10px;
  padding: 25px;
  justify-content: space-evenly;
}
main {
  color: black;
  font-family: "Raleway";
  padding-top: 20px;
  row-gap: 5em;

}

#edit-trash-btn {
width: 4.5em;
height: 2em;
border-radius: 30px;
}

#edit-trash-btn:hover {
  background-color: white;
}

form {
  display: grid;
  grid-gap: 30px;
  grid-template-columns: repeat(2, minmax(auto, 352px));
  font-size: 20px;
  font-family: "Raleway";
}

form * {
  padding: 5px;
  border-radius: 5px;
  font-size: 20px;
}

form > button {
  grid-column: span 2;
  width: 160px;
  margin-left: auto;
  font-size: 22px;
  font-family: "Raleway";
}