main{
  background-color: #F6F1E9;
  font-family: "Raleway";
  text-align: center;
  justify-content: center;
}
nav {
  background-color: #FFD93D;
  border-radius: 30px;
  font-family: "Raleway";
  font-size: 20px;
  display: flex;
  flex-direction: row;
  column-gap: 10px;
  padding: 25px;
  justify-content: space-evenly;
}

/* Animation property */
button {
  animation: wiggle 2s linear infinite;
}

/* Keyframes */
@keyframes wiggle {
  0%, 7% {
    transform: rotateZ(0);
  }
  15% {
    transform: rotateZ(-15deg);
  }
  20% {
    transform: rotateZ(10deg);
  }
  25% {
    transform: rotateZ(-10deg);
  }
  30% {
    transform: rotateZ(6deg);
  }
  35% {
    transform: rotateZ(-4deg);
  }
  40%, 100% {
    transform: rotateZ(0);
  }
}

body {
  background: #000;
}

button {
  position: absolute;
  left: calc(50% - 3em);
  top: calc(50% - 2em);
  
  height: 2.5em;
  width: 7em;
  
  background: #444;
  background: linear-gradient(top, #555, #333);
  border: none;
  border-top: 3px solid orange;
  border-radius: 0 0 0.2em 0.2em;
  color: #fff;
  font-family: Helvetica, Arial, Sans-serif;
  font-size: 1em;
  transform-origin: 50% 5em;
}

#profile-text {
  justify-content: center;
  text-align: center;
  font-size: 2em;
}

#details-btn {
  outline:auto;
  /* background-color: #424748;
  color: #424748; */
}

.wrapper {
  margin: 0 auto;
  width: 1000px;
}

.num-list {
  font-size: 20px;
  font-family: "Raleway";
}

table {
  border-bottom: 2px solid black;

}
tr:nth-child(even) {
  background-color: rgba(238, 219, 42, 0.4);
}

th:nth-child(even),td:nth-child(even) {
  background-color: rgba(209, 195, 37, 0.4);
}

section {
  font-family: "Raleway";
}

.log-btn {
  background-color: #e3dfda;
  color: black;
  border: 2px solid black; /* Green */
  border-radius: 1em;
  size: 20em;
}
.log-btn:hover {
background-color: white;
}

.profile-img{
  /* border-radius: 100px; */
}

.firstPic {
  size: 80%;
}

/* .addGame {
  justify-content: center;
  text-align: center;
} */
.title-quotes {
  display: flex;
  font-family: "Raleway";
  font-size: 16px;
  position: relative;
  top: 180px;
  color: #4F200D;
  padding: 25px;
  margin: 20px;
  column-gap: 50px;
}

.game-list {
  font-size: 25px;
}

body {
  background-color: #F6F1E9;

  /* /* display: flexbox; */
  margin: 20px; 

}

table {
  font-size: 20px;
  background-color: #F6F1E9;
  justify-content: center;
  text-align: center;
}

table thead th {
  padding: 5px;
  border-bottom: 2px solid #424748;
}

table td {
  padding: 10px;
  text-align: center;
}

table td {

}

#list td:nth-child(2),
#list td:nth-child(3) {
  min-width: 100px;

}

#list a {
  border-radius: 4px;
  background-color: #d9dbdb;
  padding: 4px;
  text-decoration: none;
  font-size: 16px;
  color: #424748;

}

#list a:visited{
  color: #424748;

}

#list a:hover {
  background-color: white;
}
