main{
  background-color: #F6F1E9;
  font-family: "Raleway";
  text-align: center;
  justify-content: center;
}
nav {
  background-color: #FFD93D;
  border-radius: 30px;
  font-family: "Raleway";
  font-size: 23px;
  display: flex;
  flex-direction: row;
  column-gap: 10px;
  padding: 25px;
  justify-content: space-evenly;
}


@keyframes wiggle {
  0%, 7% {
    transform: rotateZ(0);
  }
  15% {
    transform: rotateZ(-15deg);
  }
  20% {
    transform: rotateZ(10deg);
  }
  25% {
    transform: rotateZ(-10deg);
  }
  30% {
    transform: rotateZ(6deg);
  }
  35% {
    transform: rotateZ(-4deg);
  }
  40%, 100% {
    transform: rotateZ(0);
  }
}


#add-text{
  font-size: 16px;
  justify-content: center;
  text-align: center;
  border-bottom: none;
  font-family: "Raleway";
  text-decoration-line: none;
}


a#add-btn{
  padding: 0 auto;
}


#add-btn {
  position: absolute;
  left: calc(50% - 3em);
  top: calc(50% - 2em);
  height: 2.2em;
  width: 7em;
  background: #444;
  background: linear-gradient(top, #555, #333);
  border: none;
  border-top: 3px solid orange;
  border-radius: 20px;
  color: #fff;
  font-size: 1em;
  transform-origin: 50% 5em;
  border-bottom: none;
  animation: wiggle 2s linear;
}

#add-btn:link {
  text-decoration: none;
}

#add-btn:visited {
  text-decoration: none;
}

#add-btn:hover {
  text-decoration: none;
  color: black;
}

#add-btn:active {
  text-decoration: none;
}
#add-btn:hover {
  color: orange;
}

#profile-text {
  justify-content: center;
  text-align: center;
  font-size: 2em;
}

#details-btn {
  outline:auto;
  font-family: "Raleway";
  background-color: #424748;
  color: #424748;
}

.num-list {
  font-size: 20px;
  font-family: "Raleway";
}



.game-list {
  font-size: 25px;
  font-family: "Raleway";
}


a:hover {
color: orange;
}



a.email {
  font-size: 18px;
  font-family: "Raleway";
  padding: 5px;
  cursor: pointer;
}

div.email-div{
  padding-bottom: -40px;
  margin-bottom: 1px;
  justify-content: center;
  text-align: center;
}

h3{
  justify-content: center;
  text-align: center;
  margin-top: 15px;
}



#profile-text {
  justify-content: center;
  text-align: center;
  font-size: 2em;
}
#collect-btn {
  animation: wiggle 2s linear;
}

#details-btn {
  outline: auto;
}



.num-list {
  font-size: 20px;
  font-family: "Raleway";
}



tr:nth-child(even) {
  background-color: rgba(238, 219, 42, 0.4);
}

th:nth-child(even),td:nth-child(even) {
  background-color: rgba(209, 195, 37, 0.4);
}

section {
  font-family: "Raleway";
}

.log-btn {
  font-family: "Raleway";
  height: 2em;
  width: 7em;
  background: #444;
  background: linear-gradient(top, #555, #333);
  border: none;
  border-top: 3px solid orange;
  border-radius: 20px;
  color: #fff;
  font-size: 1em;
  transform-origin: 50% 5em;
  border-bottom: none;
}

.log-btn:hover {
background-color: orange;
}


.firstPic {
  size: 80%;
}




.title-quotes {
  display: flex;
  justify-content: space-evenly; 
  font-family: "Raleway";
  font-size: 16px;
  position: relative;
  top: 230px;
  color: black;
  padding: 70px;
  margin: 20px;
  column-gap: 50px;
  left: 50px;
}

.game-list {
  font-size: 25px;
}

body {
  background-color: #F6F1E9;
  margin: 20px; 
  font-family: "Raleway";

}

table {
  font-size: 20px;
  background-color: #F6F1E9;
  justify-content: center;
  text-align: center;
  border-bottom: 2px solid black;
  padding: 2px;
  font-family: "Raleway";
}


table thead th {
  padding: 5px;
  border-bottom: 2px solid #424748;
  font-family: "Raleway";
}

table td {
  padding: 10px;
  text-align: center;
  padding: 33px;
}



#list td:nth-child(2),
#list td:nth-child(3) {
  min-width: 100px;

}

#list a {
  border-radius: 4px;
  background-color: #d9dbdb;
  padding: 4px;
  text-decoration: none;
  font-size: 16px;
  color: #424748;

}

#list a:visited{
  color: #424748;

}

#list a:hover {
  background-color: white;
  color: orange;
  /* background-color: white; */
}



#list td:nth-child(2),
#list td:nth-child(3) {
  min-width: 100px;

}

#list a {
  border-radius: 4px;
  background-color: #d9dbdb;
  padding: 4px;
  text-decoration: none;
  font-size: 16px;
  color: #424748;

}


a:hover {
color: orange;
}

.btn-one {
  color: #FFF;
  transition: all 0.3s;
  position: relative;
}
.btn-one span {
  transition: all 0.3s;
}
.btn-one::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  transition: all 0.3s;
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-top-style: solid;
  border-bottom-style: solid;
  border-top-color: rgba(255,255,255,0.5);
  border-bottom-color: rgba(255,255,255,0.5);
  transform: scale(0.1, 1);
}
.btn-one:hover span {
  letter-spacing: 2px;
}
.btn-one:hover::before {
  opacity: 1; 
  transform: scale(1, 1); 
}
.btn-one::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: all 0.3s;
  background-color: rgba(255,255,255,0.1);
}
.btn-one:hover::after {
  opacity: 0; 
  transform: scale(0.1, 1);
}

#trash-index {
  font-family: "Raleway";
  size: 20em; 
  height: 1.7em;
  width: 3em;
  background: #444;
  background: linear-gradient(top, #555, #333);
  border: none;
  border-top: 3px solid orange;
  border-radius: 20px;
  color: #fff;
  font-size: 1em;
  transform-origin: 50% 5em;
  border-bottom: none;
}

#trash-index:hover{
  color: orange;
}

@media (max-width: 600px) {
  table {
    width: 15px;
    font-size: 12px;
    margin: 5px;
  }
  nav {
    height: 90px
  }
  table th{
    column-gap: 20%;
  }
  table#list{
    margin: 0;
    padding: 0;
  }
  td{
    margin: 0;
    padding: 0;
  }
  body {
    margin: 1px;
    padding: 1px;
    font-size: 15px;
  }
  main{
    padding: 1px;
    margin: 1px;
  }
div.title-quotes{
  font-size: 12px;
  position: relative;
  left: 2%;
  margin: 0;
  padding: 3px;
}
footer{
  position: relative;
  lefT: 5%;
  display: flex;
  flex-direction: column;
  font-size: 12px;
  justify-content: center;
  text-align: center;
  margin: 0;
  padding: 0;
}
a#add-btn{
padding: 0 auto;
}

}